extends ./layout.pug
block header
  h1 Hello world!
  p.lead
    | This is coming from the
    code views/index.pug
    | file

block body
  if !true
    p It's true!
  else
    p It's false.

  div(ng-controller="CounterCountController as vm")
    p {{ vm.getCount() }} counters.

  counter-block-component(initial-value="{ counter: 16 }" ng-show="$ctrl.counter > 12")
  hr
  p Hidden counter
  counter-block-component(ng-show="false")
  hr

  p Hidden counter
  counter-block-component(ng-hide="true")

  hr
  hr
  counter-block-component
  include ./includes/task_form
